<div class="container">
    <img src="https://i.ibb.co/SXdHD4r/Logo-1.png" id="photo">
    <form>
        <h2>Panel de inicio sesión</h2>
        <hr>
        <h3>Usuario</h3>
        <input class="controls" type="text" name="user" value="" placeholder="correo" [(ngModel)]="form.correo">
        <h3>Contraseña</h3>
        <input class="controls" type="password" name="password" value="" placeholder="contrasena" [(ngModel)]="form.contrasena"><br>
        <input [routerLink]="['../home']" class="button" type="submit" name="" value="Access" (click)="IniciarSesion()" ><br>
        <a [routerLink]="['../register']"><p>¿No tienes cuenta? Crea una gratis.</p></a>
        <hr>
        <div id="info-text">
            <p>Recomendamos utilizar Opera GX y una resolución minima de 1024 x 768.</p>
        </div>
    </form>
</div>