* {
    margin: 0 auto;
    font-family: 'Raleway','sans-serif';
}
.Main{
    background-color: white;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
}
