<div class="Main">
    <!-- CONTENT -->
<div class="Container">
    <h1 id="title-text">20/10/2021 - Miercoles</h1>
    <hr id="hrLine">
    <label id="text">
        <li id="li-dots">Se agregó contenido a 'home'.</li>
        <li id="li-dots">Se resolvieron problemas de compilacion 'Owl-Carousel'.</li>
        <li id="li-dots">Se resolvieron problemas de muestreo de imagenes en carusel de imagenes.</li>
        <li id="li-dots">Se corrigieron 'Routes' para el redireccionamiento de las páginas.</li>
        <p class="p-text">Estos cambios se implementaron para mejorar la funcionalidad de la pagína.</p>
    </label>
</div>
    <!-- CONTENT -->
    <div class="Container">
        <h1 id="title-text">14/10/2021 - Jueves</h1>
        <hr id="hrLine">
        <label id="text">
            <li id="li-dots">Se agregó codigo al apartado 'About Us'.</li>
            <li id="li-dots">Se corrigieron errores de vinculación a contenidos.</li>
            <p class="p-text">Estos cambios se implementaron para mejorar la funcionalidad de la pagína.</p>
        </label>
    </div>
<!-- CONTENT -->
<div class="Container">
    <h1 id="title-text">08/10/2021 - Viernes</h1>
    <hr id="hrLine">
    <label id="text">
        <p class="p-text">Se realizaron las siguientes implementaciones a la pagína.</p>
        <li id="li-dots">Se cambiaron diseños de Patch Notes.</li>
        <li id="li-dots">Se agregó funcionalidad al navbar</li>
        <li id="li-dots">Se agregó dirección router al navbar</li>
        <li id="li-dots">Se solucionaron problemas de tamaño de la pagína.</li>
        <p class="p-text">Estos cambios se implementaron para mejorar la funcionalidad de la pagína.</p>
    </label>
</div>
<!-- CONTENT -->
<div class="Container">
    <h1 id="title-text">06/07/2021 - Miercoles</h1>
    <hr id="hrLine">
    <label id="text">
        <li id="li-dots">Se agregó codigo de router al modulo.</li>
        <li id="li-dots">Se crearon sub-componentes para la funcionalidad del router.</li>
        <li id="li-dots">Se cambiaron diseños de iconos y textos.</li>
        <p class="p-text">Estos cambios se implementaron para mejorar la funcionalidad de la pagína.</p>
    </label>
</div>
</div>