<link rel="stylesheet" href="/src/app/navbar/navbar.component.css">
<input type="checkbox" id="check">
<div class="SideMenu">
    <label for="check">
        <i class="fas fa-bars" id="OpenMenu"></i>
    </label>
        <div id="Sidebar">
            <img src="https://i.ibb.co/dkpXdg6/Logo-1.png" id="ImageLogo" >
            <div class="nav">
                <a [routerLink]="['home']"><button class="nav-item-buttons">Home</button></a>
                <!-- <a [routerLink]="['practica']"><button class="nav-item-buttons">Practicas</button></a> -->
                <!-- <a [routerLink]="['patchnotes']"><button class="nav-item-buttons">Patch Notes</button></a> -->
                <a [routerLink]="['prog-tools']"><button class="nav-item-buttons">Programing Tools</button></a>
                <!-- <a [routerLink]="['forum']"><button class="nav-item-buttons">Foro</button></a> -->
                <a [routerLink]="['news']"><button class="nav-item-buttons">Noticias</button></a>
                <!-- <a [routerLink]="['import']"><button class="nav-item-buttons">Import</button></a> -->
                <a [routerLink]="['help']"><button class="nav-item-buttons">Help</button></a>
                <a [routerLink]="['aboutus']"><button class="nav-item-buttons">About Us</button></a>
                <a [routerLink]="['contact']"><button class="nav-item-buttons">Contact</button></a>
            </div>
        </div>
        <div id="Footer-Sidebar">
            <p>Redes Sociales</p>
            <a href="https://www.facebook.com/KomorebiPC" target="_Blank"><i class="fab fa-facebook-square"></i></a>
            <i class="fab fa-twitter-square"></i>
        </div>
</div>


