<div class="main">
    <div class="dm-tbl">
        <h3>Sample Title</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor alias adipisci a voluptatem ullam. Veritatis optio praesentium, culpa, mollitia quasi assumenda quibusdam, libero voluptate eligendi quos tempora eius quia labore!</p>
        <div class="dm-tbl-btns">
            <button class="frm-btn-response" id="btn-style-purple">Responder</button>
            <button class="frm-btn-response" id="btn-style-red">Eliminar</button>
        </div>
        <hr>
        <div class="frm-tbl-rsp">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae iste, quae laboriosam soluta ex reiciendis dignissimos sint voluptas! Dolorem repudiandae magnam adipisci aut, dolor ut voluptas doloremque iure quis cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quam ab natus odio asperiores, quos sed, porro laborum animi, exercitationem fuga! Dicta, sequi debitis! Iusto maxime temporibus labore accusamus asperiores?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui unde, necessitatibus repellat ut non doloribus enim eius magni. Quos facilis rerum illum minus nesciunt modi quam voluptatum, illo nihil qui.
            </p>
            <p><b>Respondido por: NaNKo</b></p>
            <button class="frm-btn-response" id="btn-style-red">Eliminar</button>
        </div>
    </div>
</div>