<div class="main">
    <div class="dm-tbl">
        <h3>Sample Title</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor alias adipisci a voluptatem ullam. Veritatis optio praesentium, culpa, mollitia quasi assumenda quibusdam, libero voluptate eligendi quos tempora eius quia labore!</p>
        <div class="dm-tbl-btns">
            <button class="frm-btn-response" id="btn-style-purple">Responder</button>
            <button class="frm-btn-response" id="btn-style-red">Eliminar</button>
        </div>
        <hr>
    </div>
</div>