.main{
    background-color: #E8E8E8;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.fm-table{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color: White;
    width: 250.5px;
    height: auto;
}